head
    title G18Upload
    script(src = "https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js")
    script(src = "https://code.jquery.com/jquery-3.3.1.min.js" integrity = "sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin = "anonymous")
    script(src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity = "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin = "anonymous")
    script(src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity = "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin = "anonymous")
    link(rel = "stylesheet" type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.css")
    link(rel = "stylesheet" type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/basic.css")
    link(rel = "stylesheet" type = "text/css" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity = "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin = "anonymous")
    link(rel = "stylesheet" type = "text/css" href = "/public/style.css")
body
    nav(class="navbar navbar-expand-lg navbar-light bg-light")
        a(class="navbar-brand" href="#") G18Upload
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")

        div(class="collapse navbar-collapse" id="navbarSupportedContent")
            ul(class="navbar-nav mr-auto")
                li(class="nav-item active")
                    a(class="nav-link" href="#") Home 
                        span(class="sr-only") (Current)

                li(class="nav-item dropdown")
                    a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Dropdown
                    div(class="dropdown-menu" aria-labelledby="navbarDropdown")
                        a(class="dropdown-item" href="#") Action
                        a(class="dropdown-item" href="#") Another action
                        div(class="dropdown-divider")
                        a(class="dropdown-item" href="#") Something else here