html
    include navbar
    body
        script(src = "/public/dropzone-bundle.js")
        br
        div(class = "container")
            if !user.activated
                div(class = "alert alert-danger") Please activate your account in Profile page before uploading.
            else
                form(action = "/upload" class = "dropzone" id = "myDropzone" method = "post" enctype = "multipart/form-data")
                    div(class = "fallback")
                        input(name = "file" type = "file" multiple)
            
            